footer {
    background-color: #000;
    color: #fff;
    padding: 60px 25px 50px 25px;
  
    @media (min-width: 900px) {
      display: flex;
      padding: 211px 25px 183px 25px;
    }
  }
  
  .footer-content {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  
    @media (min-width: 900px) {
      display: flex;
    }
  }
  
  .footer-left-wrapper {
    @media (min-width: 900px) {
      margin-right: 10%;
      position: relative;
    }
  }
  
  .footer-logo {
    margin-bottom: 1rem;
    width: 70px;
    filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg) brightness(105%) contrast(108%);
  
    @media (min-width: 900px) {
      position: absolute;
      bottom: calc(100% + 1rem);
    }
  }
  
  .footer-title {
    font-size: 24px;
    font-weight: 900;
  
    @media (min-width: 900px) {
      font-size: 42px;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  
  .footer-subtitle {
    font-size: 18px;
    margin-bottom: 2rem;
  }
  
  .footer-info-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-bottom: 2rem;
  
    @media (min-width: 900px) {
      display: block;
      margin-right: 0;
      width: 25%;
    }
  }
  
  .footer-address-wrapper {
    width: 50%;
  
    @media (min-width: 900px) {
      margin-bottom: 27px;
      width: auto;
    }
  }
  
  .footer-opening-times {
    width: 50%;
  
    @media (min-width: 900px) {
      width: auto;
    }
  }
  
  .footer-nav {
    display: flex;
    justify-content: space-between;
    color: white; 
    text-decoration: none;
  
    @media (min-width: 900px) {
      width: 25%;
    }
  }
    .footer-nav ul {
      width: 50%;
      color: white; 
    text-decoration: none;
  
      @media (min-width: 900px) {
        width: auto;
      }
    }
      .footer-nav:first-child {
        @media (min-width: 900px) {
          order: 1;
        }
      }
  
      .footer-nav ul li a{
        color: white; 
        text-decoration: none;
        }
        .footer-nav ul{
            list-style-type: none;
        }
          
          
      