 <footer>
      <div class="footer-content">
        <div class="footer-left-wrapper">
        <img
          class="footer-logo"
          src="/images/icons/logo.svg"
          alt="Kaffee Rösterei Logo" 
        />
        <div>
          <div class="footer-title">Rustica</div>
          <div class="footer-subtitle">Café & Rösterei</div>
        </div>
      </div>
      <div class="footer-info-wrapper">
        <div class="footer-address-wrapper">
          Komm uns besuchen!<br />
          Fraunhoferstr. 13, Kiel
        </div>
        <div class="footer-opening-times">
          Mo – Fr 8–18 Uhr<br />
          Sa 11–18 Uhr
        </div>
      </div>
      <nav class="footer-nav">
        <ul>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutz</a></li>
        </ul>
        <ul>
          <li><a href="#">Cafe</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">Herkunft</a></li>
        </ul>
      </nav>
      </div>
    </footer>