<header class="header-flex">
       <p>
            <a href="/index.html"><img src="/images/icons/logo.svg" alt="logo" class="img-logo"></a>
        </p>
       <!-- <p class="p-burger">
            <img src="/images/icons/burger_menu.svg" alt="hamburger" class="img-burger">
        </p>-->
        <!--ANFANG SLIDER-->
<div class="hero">
        <button class="open-nav" ><svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 2H23.5M0 8H23.5M0 14.5H16.5" stroke="white" stroke-width="3"/>
            </svg></button>
    </div>
    <div class="nav-overlay hidden">
        <button class="close-nav"><svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 2L10.5 11M19.5 20L10.5 11M10.5 11L1.5 20M10.5 11L19.5 2" stroke="white" stroke-width="3"/>
            </svg></button>
            <nav class="header-nav-slider">
                <ul class="nav-liste-slider">
                    <li><a href="/das-cafe/index.html" class="nav-item-slider">das Café</a></li>
                    <li><a href="/herkunft/index.html" class="nav-item-slider">Herkunft</a></li>
                    <li> <a href="/product/index.html" class="nav-item-slider">Shop</a></li>
                    
                </ul>
            </nav>
    </div>
   
        <script src="/js/slider.js"></script>


        <!--ENDE SLIDER-->
         <nav class="header-nav">
            <ul class="nav-liste">
                <li><a href="/das-cafe/index.html" class="nav-item">das Café</a></li>
                <li><a href="/herkunft/index.html" class="nav-item">Herkunft</a></li>
                <li> <a href="/product/index.html" class="nav-item">Shop</a></li>
                <li> <a href="/kontakt/index.html" class="nav-item">Kontakt</a></li>
                <li> <img src="/images/icons/tasche.svg" alt="tasche" class="tasche"></li>
            </ul>
        </nav>
              
</header>