<header class="header-flex">
       <p>
            <a href="/index.html"><img src="/images/icons/logo.svg" alt="logo" class="img-logo"></a>
        </p>
        <p class="p-burger">
            <img src="/images/icons/burger_menu.svg" alt="hamburger" class="img-burger">
        </p>
         <nav class="header-nav">
            <ul class="nav-liste">
                <li><a href="/das-cafe/index.html" class="nav-item">das Café</a></li>
                <li><a href="/herkunft/index.html" class="nav-item">Herkunft</a></li>
                <li> <a href="/shop/index.html" class="nav-item">Shop</a></li>
                <li> <a href="/kontakt/index.html" class="nav-item">Kontakt</a></li>
                <li> <img src="/images/icons/tasche.svg" alt="tasche" class="tasche"></li>
            </ul>
        </nav>
              
</header>