  <p>
            <h2 class="h2l">Komm vorbei</h2>
        </p>
        <!--https://blog.hubspot.com/website/how-to-embed-google-map-in-html-->
        <div class="div-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1162.9362461414833!2d10.122764820629197!3d54.34156178267514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b2560c505797eb%3A0xf549da0f074162a9!2sFraunhoferstra%C3%9Fe%2013%2C%2024118%20Kiel!5e0!3m2!1sde!2sde!4v1676914797271!5m2!1sde!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"><frameborder="0"></iframe>
            </div>