
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero-section {
  height: 75vh;
  width: 100%;
  background-image: url("../images/img/header_startseite.png");
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: auto;
  /*border: 1px solid black;*/
}
.h1 {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  color: white;
  padding-top: 4.5rem;
}
@media (min-width: 576px) {
  .h1 {
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    color: white;
    padding-top: 1.5rem;
  }
}

.text-header {
  text-align: center;
  color: white;
  padding-bottom: 2.0rem;
}
.header-button {
  width: 160px;
  background: #1a1a1a;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
}
.header-button:hover {
  background: #3a3734;
}
.header-button:active {
  background: #d7be9d;
}
/***********************info Seite Handy*********************************/

.info-flex {
  display: flex;
  padding-bottom: 63px;
}
@media (max-width: 576px) {
  .h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 34px;
    text-align: left;
  }
  .cafe {
    order: 3;
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
  }
  .tab-cafe {
    height: 54px;
    width: 327px;
    border-collapse: separate;
    border-spacing: 17px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
  }
  .x {
    width: 327px;
    height: 54px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .y {
    width: 173px;
    height: 32px;
  }

  .img-shop {
    height: auto;
    width: 241px;
  }
  .p-img {
    order: 2;
    margin-right: 24px;
    margin-left: auto;
  }

  .bio {
    order: 1;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
  }
  .h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    text-align: left;
  }
  .bio-section {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    height: 90px;
    width: 326px;
    padding-top: 12px;
  }
  .p-img2 {
    margin-left: 24px;
    margin-right: auto;
  }
  .img-plant {
    order: 4;
    width: 612;
    height: auto;
  }
}
/*******************Desktop Version Info Seite***********************/

.info-flex {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: space-around;
}
@media (min-width: 900px) {
  .h2 {
    font-size: 36px;
    font-weight: 900;
    line-height: 34px;
    text-align: left;
  }
  .cafe {
    order: 4;
    padding-top: 124px;
    padding-left: 100px;
    padding-right: 126px;
    padding-bottom: 40px;
    border: 0px solid black;
  }
  .tab-cafe {
    height: 54px;
    width: 502px;
    border-collapse: separate;
    border-spacing: 17px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .x {
    width: 327px;
    height: 54px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .y {
    width: 173px;
    height: 32px;
  }
  .p-img {
    order: 3;
    padding: 124px;
  }
  .img-shop {
    height: auto;
    width: 607px;
    border: 0px solid black;
    object-fit: fill;
  }
  .bio {
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 40px;
    border: 0px solid black;
  }
  .h3 {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
  }
  .bio-section {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    height: 90px;
    width: 500px;
    padding-top: 12px;
    border: 0px solid black;
  }
  .img-plant {
    height: auto;
    width: 612px;
    border: 0px solid black;
    object-fit: fill;
  }
}
/*Anfang Sorten Seite***************************************/
.sorten {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-left: 24px;
  padding-top: 60px;
  padding-right: 10px;
  padding-bottom: 2em;
  width: 100%;
}
.h2w {
  font-size: 36px;
  font-weight: 900;
  line-height: 34px;
  text-align: left;
  align-items: flex-start;
  color: white;
}
@media (min-width: 900px) {
  .h2w {
    font-size: 36px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
    color: white;
  }
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
.container-sorte {
  background-color: white;
  flex-grow: 1;
  margin-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 45%;
  @media (min-width: 900px) {
    width: 20%;
  }
}
.img-container {
  height: auto;
  width: 100%;
  object-fit: fill;
}
.container-price {
  background-color: black;
  padding-top: 1em;
}
.text-sorte {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
}
.price-sorte {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #737373;
  padding-top: 0.5em;
}
.span-bohne {
  margin-right: 0.5em;
  padding-top: 0.5em;
  height: auto;
  width: 16px;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg)
    brightness(105%) contrast(108%);
}
.span-press {
  margin-right: 0.5em;
  padding-top: 0.5em;
  height: auto;
  width: 16px;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg)
    brightness(105%) contrast(108%);
}
.span-schaufel {
  margin-right: 0.5em;
  padding-top: 0.5em;
  height: auto;
  width: 16px;
  filter: invert(94%) sepia(0%) saturate(26%) hue-rotate(104deg)
    brightness(105%) contrast(108%);
}
.sorten-button {
  width: 160px;
  background: #1a1a1a;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
}
.sorten-button:hover {
  background: #3a3734;
}
.sorten-button:active {
  background: #d7be9d;
}
/******************Ende Sorten Sectiom**************************
Anfang Herkunft Section*/
.herkunft {
  height: 50vh;
  width: 100%;
  background: url("../images/img/coffee-bags-2.png"), rgba(26, 26, 26, 0.5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.herkunft-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25em;
  align-items: center;
}
.h3 {
  font-size: 42px;
  font-weight: 900;
  line-height: 49px;
  text-align: center;
}
.pre-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 1em;
  text-align: left;
}
/* ++++++++++++++++Ende Herkunft/ Anfang das steckt drin+++++++++++++++++*/
.das-steckt-drin {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 40em;
  width: 100%;
  align-items: center;
  margin-top: 60px;
}
.h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  line-height: 34px;
  margin-top: 60px;
  margin-right: auto;
}
.das-steckt-drin .img-container {
  object-fit: fill;
  align-content: center;
}
.container-steckt-drin {
  height: auto;
  width: 100%;
}
.p-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: auto;
  gap: 1rem;
}
.drin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
  width: 40%;
}
.drin-button {
  width: 160px;
  background: #1a1a1a;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
}
.drin-button2 {
  width: 160px;
  background: #1a1a1a;
  color: white;
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: auto;
  display: none;
}
.drin-button .drin-button2:hover {
  background: #3a3734;
}
.drin-button .drin-button2:active {
  background: #d7be9d;
}
@media (min-width: 576px) {
  .h2 {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    text-align: center;
  }
  .das-steckt-drin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .container-steckt-drin {
    height: auto;
    width: 100%;
  }
  .p-icons {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 500px;
  }
  .drin {
    flex-direction: row;
    padding-bottom: 2em;
    height: auto;
  }
  .drin-button {
    display: none;
  }
  .drin-button2 {
    width: 160px;
    background: #1a1a1a;
    color: white;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 0px;
    margin-right: auto;
  }
}
/*******************ENDE das steckt drin/Anfang Landkarte************/


/*************************ANFANG MAP/FOOTER*************************/

