* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .product-section{
    background-color: white;
    width: 90%;
    padding-left: 24px;
    padding-right: 10px;
  }
  .h2-product{
    font-size: 36px;
    font-weight: 900;
    line-height: 34px;
    text-align: left;
    
  }
  @media (min-width: 572px) {
    .h2-product {
      font-size: 36px;
      font-weight: 900;
      line-height: 48px;
      text-align: left;
    }
  }
  #product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
    width: 100%;  
  }
  .container-product {
    background-color: rgba(233,233,233,1);
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    text-decoration: none;
    @media (min-width: 572px) {
      width: 20%;

    }
  }
  .container-product-beige {
    background-color: rgba(215,190,157,1);
    flex-grow: 1;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    @media (min-width: 572px) {
      width: 20%;
    }
  }
  .img-container {
    height: auto;
    width: 100%;
    object-fit: fill;
  }
  .price {
    background-color: white;
    padding-top: 1em;
  }
  .text-product {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    color: rgba(58, 55, 52, 1);
    ;
  }
  .price-product {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #737373;
    padding-top: 0.5em;
  }
  .bohne {
    margin-right: 0.5em;
    padding-top: 0.5em;
    height: auto;
    width: 16px;
  }
  .press {
    margin-right: 0.5em;
    padding-top: 0.5em;
    height: auto;
    width: 16px;
  }
  .schaufel {
    margin-right: 0.5em;
    padding-top: 0.5em;
    height: auto;
    width: 16px;
  }
  /*******************ENDE Produkte/Anfang Landkarte************/

.h2l {
    font-size: 36px;
    font-weight: 900;
    line-height: 34px;
    margin-left: 24px;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    @media (min-width: 576px) {
      font-size: 48px;
      font-weight: 900;
      line-height: 56, 25px;
    }
  }
  .div-map {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
  }
  .div-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .map{
    width: 100%;
  }

  /*************************ENDE MAP/ANFANG FOOTER*************************/